- @entries = Entry.all.order('published desc').limit(5)       
- e1 = @entries[0]
- e2 = @entries[1]
- e3 = @entries[2]
- e4 = @entries[3]
.card-group
  .card.mb-4
    .view.overlay
      %img.img-fluid
        = image_tag e1.enclosure_url, class: 'img-fluid'
      %a{:href => e1.url.html_safe, target: :_blank}
        .mask.rgba-white-slight
    .card-body
      %p.card-text 
        = link_to e1.title, e1.url.html_safe
      %a.button.btn.btn-primary.btn-md{:href => e1.url.html_safe, :type => "button"} Read more
  .card.mb-4
    .view.overlay
      %img
        = image_tag e2.enclosure_url, class: 'img-fluid'
      %a{:href => e2.url.html_safe, target: :_blank}
        .mask.rgba-white-slight
    .card-body
      %p.card-text
        = link_to e2.title, e2.url.html_safe
      %a.button.btn.btn-primary.btn-md{:href => e2.url.html_safe, :type => "button"} Read more
  .card.mb-4
    .view.overlay
      %img.img-fluid
        = image_tag e3.enclosure_url, class: 'img-fluid'
      %a{:href => e3.url.html_safe, target: :_blank}
        .mask.rgba-white-slight
    .card-body
      %p.card-text
        = link_to e3.title, e3.url.html_safe
      %a.button.btn.btn-primary.btn-md{:href => e3.url.html_safe, :type => "button"} Read more
  .card.mb-4
    .view.overlay
      %img.img-fluid
        = image_tag e4.enclosure_url, class: 'img-fluid'
      %a{:href => e4.url.html_safe, target: :_blank}
        .mask.rgba-white-slight
    .card-body
      %p.card-text
        = link_to e4.title, e4.url.html_safe
      %a.button.btn.btn-primary.btn-md{:href => e4.url.html_safe, :type => "button"} Read more