.container
  .row 
    .col-sm-2
    .col-sm-5
      %h1= @post.title
      %img
        = image_tag @post.image, class: 'img-fluid'
      %p= @post.content
= link_to "Edit", edit_post_path(@post)
= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" }