%nav.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'USRTennis', root_path, :class => 'navbar-brand'
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li= link_to('Le Club', '#')
        %li= link_to('Compétitions', '#')
        %li= link_to('Les Cours', '#')
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to('My Account', edit_user_registration_path)
          %li= link_to "Sign out", destroy_user_session_path, :method => :delete
        - else
          %li= link_to('Sign in', new_user_session_path)
          %li= link_to('Sign up', new_user_registration_path)