.container-fluid
  .row
    .col-sm-12
      %h4 Nos Partenaires
    .col-sm-12
      #carouselExampleSlidesOnly.carousel.slide{"data-ride" => "carousel"}
        .carousel-inner
          .carousel-item.active
            %img.d-block.w-100
              = image_tag("3sets-original.jpeg", style: 'height:auto;width:100%;')
          .carousel-item
            %img.d-block.w-100
              = image_tag("AMC-automatisme.jpg", style: 'height:auto;width:100%;')
          .carousel-item
            %img.d-block.w-100
              = image_tag("ATOL.jpeg", style: 'height:auto;width:100%;')
          .carousel-item
            %img.d-block.w-100
              = image_tag("carteiadfrance.jpg", style: 'height:auto;width:100%;')
          .carousel-item
            %img.d-block.w-100
              = image_tag("demechesavecvous.jpg", style: 'height:auto;width:100%;')
          .carousel-item
            %img.d-block.w-100
              = image_tag("mbcryo.png", style: 'height:auto;width:100%;')
          .carousel-item
            %img.d-block.w-100
              = image_tag("pubbertrand.jpg", style: 'height:auto;width:100%;')
          .carousel-item
            %img.d-block.w-100
              = image_tag("vin-divin.jpeg", style: 'height:auto;width:100%;')
    .col-sm-12
    .col-sm-12
      %h4 Liens Rapides
    .col-sm-12
    .col-sm-12
      = link_to 'Planning Championnat', "#", class: 'btn btn-primary btn-block'
    .col-sm-12
    .col-sm-12
      = link_to 'Planning Cours', "#", class: 'btn btn-primary btn-block'
    .col-sm-12
    .col-sm-12
      = link_to 'FFT Espace Licencié', "https://mon-espace-tennis.fft.fr/", class: 'btn btn-primary btn-block'
    .col-sm-12
    .col-sm-12
      = link_to 'FFT Gestion Sportive', "http://www.gs.applipub-fft.fr/fftfr/frameset.do?dispatch=load", class: 'btn btn-primary btn-block'