!!!
%html.full-height{:lang => "en"}
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Usr Tennis'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Usr Tennis'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      .container-fluid
        .row
          .col-sm-8
            = yield
            #remote_container
          .col-sm-4
            %br
            %br
            = render 'layouts/rightbar'
    %footer
      = render 'layouts/footer'
